<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Chatbot de Direitos Civis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <header>
            <h1>⚖️ ADVOG.AI ⚖️</h1>
            <h2>SEU CHATBOT DE DIREITOS CIVIS</h2>
        </header>
        <div class="bot-info">
            <div class="bot-info-box">
                Seja muito bem vindo! Sou um chatbot desenvolvido para responder questões referentes aos direitos civis brasileiros.
                Sinta-se livre para perguntar; utilizarei exclusivamente o conteúdo das normas legais para lhe oferecer uma
                resposta adequada.
                Para mais informações sobre este projeto, digite o comando '/info' no campo de mensagem!
            </div>
            <img src="static\Chatbot_3D_Icon_transparent_800_emp.webp" alt="Chatbot"/>
        </div>
        <div class="chat-container">
            <div class="messages">
                {% for msg in conversas %}
                    <div class="message {{ msg.tipo }}">
                        {{ msg.texto }}
                    </div>
                {% endfor %}
            </div>
    
            <form method="post">
                <input type="text" name="user_input" placeholder="Digite sua mensagem..." required>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
</body>
</html>